{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    <form method="post" action=".">
        {% csrf_token %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
        <div class="bg-gradient-warning text-light">{{ error }}</div>
{% endfor %}
{% endif %}
        <div class="input-group input-group-dynamic mt-4">
            <label class="form-label" for="id_username">User name:</label>
            <input class="form-control" name="username" autocapitalize="none" maxlength="150" required id="id_username" autocomplete="username">
        </div>
        <div class="input-group input-group-dynamic mt-4">
            <label class="form-label" for="id_password">Password:</label>
            <input class="form-control" type="password" name="password" required id="id_password" autocomplete="current-password">
        </div>
        <input type="hidden" name="next" value="/"/>
        <input class="btn bg-gradient-secondary mt-4" type="submit" value="Login"/>
    </form>
</div>
{% endblock %}
