{% extends "base.html" %}
{% block title %}{{list_title}}{% endblock %}
{% block body %}
<div>Import CSV</div>
<div>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group input-group-dynamic mt-4">
            <input class="form-control" name="csv_file" type="file" accept=".csv" required id="id_csv_file">
            <input class="btn bg-gradient-secondary mt-4" type="submit" value="Save"/>
        </div>
    </form>
</div>
{% endblock %}
