    <!-- jQuery -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Bootstrap date picker -->
    <link href="/assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="/assets/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
    <script src="/assets/fontawesome/js/all.js" crossorigin="anonymous"></script>
    <!-- Theme CSS -->
    <link type="text/css" href="/assets/css/material-kit.min.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/override.css" rel="stylesheet">