{% load markdown_extras %}

<script>
let sortAscending = true;

function sortDivsByDate() {
  const $container = $("#container");
  const $divs = $container.children("div");

  const sortedDivs = $divs.sort(function(a, b) {
    const dateA = new Date($(a).data("fdate"));
    const dateB = new Date($(b).data("fdate"));

    return sortAscending ? dateA - dateB : dateB - dateA;
  });

  $container.empty().append(sortedDivs);

  // 토글 정렬 방향
  sortAscending = !sortAscending;

  // 버튼 아이콘 및 텍스트 변경
  const $icon = $("#sort-button .material-icons");
  const $text = $("#sort-button-text");

  if (sortAscending) {
    $icon.text("arrow_upward");
    $text.text("by finish date");
  } else {
    $icon.text("arrow_downward");
    $text.text("by finish date");
  }
}
</script>
<div class="row">
    <div class="col"></div>
    <div class="col-auto mt-2">
        <span class="badge bg-secondary">{{ records|length }} {% if records|length == 1 %}Book{% else %}Books{% endif %}</span>
        <a href="javascript:sortDivsByDate();" id="sort-button">
            <span class="material-icons" style="position: relative; top: 5px;">sort</span>
            <span id="sort-button-text">by finish date</span>
        </a>
    </div>
    <div class="col-auto" style="width:10px;"></div>
</div>
<div id="container">
{% for record in records %}
<div class="card card-frame my-1" data-title="{{record.title}}" data-fdate='{{record.dateEnd|date:"Y-m-d"}}' data-isbn="{{record.book.isbn}}">
  <div class="card-body">
  <div class="row">
<div class="col-auto" style="width:110px;">
  {% if record.book.imageUrl %}
    <img src="{{record.book.imageUrl}}" class="img-fluid shadow"/>
  {% endif %}
  {% if user == record.user %}
    <br/>
    <a href="/edit?isbn={{record.book.isbn}}">
      <button class="btn btn-outline-secondary mt-1 w-100">
        <i class="material-icons">create</i>
      </button>
    </a>
  {% endif %}
</div>
      <div class="book_contents col">
      <p>
          {% if record.author %}{{record.author}}. {% endif %}<em>{{record.title}}.</em> {% if record.publisher %}{{record.publisher}}. {% endif %}{% if record.book.isbn %}ISBN: <a class="isbnlink" href="{{record.book.url}}">{{record.book.isbn}}</a>{% endif %}<br/>
          {% if record.dateStart %}{{record.dateStart|date:"Y-m-d"}} {% endif %}{% if record.dateEnd|date:"Y-m-d" %}~ {{record.dateEnd|date:"Y-m-d"}}<br/>{% endif %}
          {% if record.rating > 0 %}
            {% for i in ratings %}
                {% if i <= record.rating %}
          <span class="material-icons">star</span>
                {% else %}
          <span class="material-icons">star_border</span>
                {% endif %}
            {% endfor %}
          <br/>
          {% endif %}
          {% for tag in record.tags.all %}
          <a href="/listtag/?tag={{tag.name}}"><span>{{tag.name}}</span></a>
          {% endfor %}<br/>
          {% if record.check1 %}<span class="material-icons" style="color:#FFD1DC;">flag</span>{% endif %}
          {% if record.check2 %}<span class="material-icons" style="color:#98FF98;">flag</span>{% endif %}
          {% if record.check3 %}<span class="material-icons" style="color:#AEC6CF;">flag</span>{% endif %}
          </p>
	  {% if record.memo is not None %}<div>{{record.memo|markdownify|safe}}</div>{% endif %}
      </div>
  </div>
  </div>
</div>
{% endfor %}
</div>  <!-- container -->
